{% extends 'payapp/base.html' %}

{% block content %}

    <h1>Payment application homepage</h1>


    <form method="POST" type="text">
        <p>choose an option</p>
        <input type="radio" id="request" name="next_page" value="request payment">
        <input type="radio" id="send" name="next_page" value="send a payment">
        <input type="radio" id="transactions" name="next_page" value="view past transactions">
        <input type="radio" id="notifications" name="next_page" value="view notifications">
        <input type="submit">
    </form>



{% endblock %}